// MainView.module.scss
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.main {
  padding: 40px 45px 50px;
  background: var(--bg-color-secondary);

  @include theme-transition();

  @include mobile-and-below {
    padding: 30px 20px;
  }

  .inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  .topNav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @include mobile-and-below {
      align-items: center;
    }

    .city {
      font-size: 30px;
      line-height: 1.3em;
      font-weight: 400;
      display: flex;
      gap: 20px;

      img {
        width: 40px;
      }

      @include mobile-and-below {
        font-size: 26px;

        img {
          width: 35px;
        }
      }


    }

    .togglers {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile-and-below {
        gap: 10px;
      }

      .symbol {
        font-size: 18px;
        line-height: 1.3em;
        font-weight: 400;
      }
    }


  }

  .cardsTitle {
    margin-bottom: 20px;
    font-weight: 600;
  }

  /* Forecast */

  .forecastGrid {
    display: grid;
    gap: 1rem;
    margin-bottom: 50px;

    @include desktop-and-above {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    @include desktop-and-below {
      grid-template-columns: repeat(3, 1fr)
    }
  }


  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @include desktop-and-below {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}