:root {
  --bg-color-primary: #fff;
  --bg-color-secondary: #f6f6f8;
  --text-color-primary: #1e1e1e;
}

[data-theme='dark'] {
  --bg-color-primary: #1e1e1e;
  --bg-color-secondary: #0c0c0c;
  --text-color-primary: #eee;
}


// Colors
$primary-dark: #1e1e1e;
//$white: #ffffff;
$gray: #b2b2b7;
$gray-light: #e9e9e9;
$gray-lighter: #f6f6f8;
$orange: #ec6e4c;
$error-color: #ff4d4f;


// Radius
$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 10px;
$radius-circle: 50px;


// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px; // Optional if you want a really big screen breakpoint

