// Card.module.scss
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
  background: var(--bg-color-primary);
  border-radius: $radius-large;
  height: 100%;
  @include theme-transition();

  // Small
  &.sm {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius-circle;
    padding: 5px;
    height: 38px;
    width: 38px;

    &:hover {
      background: var(--bg-color-secondary);
    }
  }

  // Medium
  &.md {
    padding: 1rem;

    & {
      text-align: center;
    }

    .title {
      font-size: 15px;
      font-weight: 500;
    }

    .temps {
      font-weight: 600;
      display: flex;
      gap: 8px;
      text-align: center;
      justify-content: center;

      .tempMin {
        color: $gray;
      }
    }

    @include mobile-and-below {
      img {
        width: 50px;
      }
    }
  }

  // Large
  &.lg {
    & {
      @include tablet-and-above {
        padding: 25px 30px;
        min-height: 170px;
      }

      @include tablet-and-below {
        padding: 15px;
      }
    }

    .title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      color: $gray;
    }

    h4 {
      font-size: 35px;
      line-height: 1.3em;
      font-weight: 400;

      @include tablet-and-below {
        font-size: 25px;
      }
    }

    small {
      font-size: 20px;
      margin-left: 4px;
      position: relative;
      top: -10px;

      @include tablet-and-below {
        font-size: 15px;
      }
    }

    &.clouds {
      h4 {
        font-size: 20px;
      }
    }

    &.sunsetSunrise {
      .inner {
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 26px;
          background: $orange;
          border-radius: 50px;
          padding: 7px;

          @include tablet-and-below {
            width: 22px;
            padding: 6px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;

          @include tablet-and-below {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}