// Card.module.scss
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
  background: $white;
  padding: 1rem;
  border-radius: $radius-large;
  transition: transform 0.3s;
  height: 100%;

  &.sm {
    & {
      text-align: center;
    }

    .title {
      font-size: 15px;
      font-weight: 500;
    }

    .temps {
      font-weight: 600;
      display: flex;
      gap: 8px;
      text-align: center;
      justify-content: center;

      .tempMin {
        color: $gray;
      }
    }

    @include mobile-and-below {
      img {
        width: 50px;
      }
    }
  }

  &.lg {
    & {
      @include tablet-and-above {
        padding: 25px 30px;
        min-height: 170px;
      }

      @include tablet-and-below {
        padding: 15px;
      }
    }

    .title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      color: $gray;
    }

    h4 {
      font-size: 35px;
      line-height: 1.3em;
      font-weight: 400;

      @include tablet-and-below {
        font-size: 25px;
      }
    }

    small {
      font-size: 20px;
      margin-left: 4px;
      position: relative;
      top: -10px;

      @include tablet-and-below {
        font-size: 15px;
      }
    }

    &.clouds {
      h4 {
        font-size: 20px;
      }
    }

    &.sunsetSunrise {
      .inner {
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 26px;
          background: $orange;
          border-radius: 50px;
          padding: 7px;

          @include tablet-and-below {
            width: 22px;
            padding: 6px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;

          @include tablet-and-below {
            margin-bottom: 5px;
          }
        }
      }
    }
  }




}