// Sidebar.module.scss
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.sidebar {
  background-color: var(--bg-color-primary);
  padding: 40px 40px 40px;
  @include theme-transition();

  @include mobile-and-below {
    padding: 30px 30px;
  }

  .currentWeather {
    img {
      @include desktop-and-above {
        //width: 280px;
      }
    }

    .currentTemp {
      font-size: 60px;
      line-height: 1.4em;
      font-weight: 400;
      margin-bottom: 15px;

      @include tablet-and-below {
        font-size: 50px;
      }
    }

    .city {
      font-size: 31px;
      line-height: 1.3em;
      font-weight: 400;
      margin-bottom: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-light;

      @include tablet-and-below {
        font-size: 23px;
      }
    }

    .weatherDescription {
      text-transform: capitalize;
    }
  }
}